* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

#wrap {
  width: 100%;
}

header {
  width: 100%;
  height: 160px;
}

header .header_t {
  margin: 0 auto;
  width: 1500px;
  height: 105px;
}

header .logo {
  float: left;
  margin: 20px 0 0 44px;
  width: 186px;
  height: 68px;
  cursor: pointer;
}

.search input {
  margin-top: 30px;
  margin-left: 250px;
  width: 470px;
  height: 40px;
  border: 0px;
  border-bottom: 2px solid #95b47b;
  font-size: 18px;
}

.search img {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.header_t ul {
  float: right;
}

.header_t li {
  float: left;
  margin-right: 20px;
  line-height: 130px;
  cursor: pointer;
}

.header_t li img {
  width: 35px;
  height: auto;
}

header .header_b {
  width: 100%;
  height: 55px;
  background-color: darkgreen;
}

header .header_b_in {
  margin: 0 auto;
  width: 1500px;
  height: 55px;
}

.header_b_in nav {
  margin-left: 35px;
}

.header_b_in .nav li {
  float: left;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.header_b_in .login {
  float: right;
}

.header_b_in .login li {
  float: left;
  margin-top: 10px;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

#main {
  width: 100%;
  height: 700px;
  position: relative;
  /* background: url(../images/mainimg1.jpg) no-repeat 0 0; */
}

#main > ul > li {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
}

#main > ul > li.img1 {
  left: 0;
  z-index: 300;
}
#main > ul > li.img1 > div {
  width: 100%;
  height: 700px;
  position: relative;
}
#main > ul > li.img1 > div > button {
  position: absolute;
  margin: -200px 0 0 1130px;
  display: block;
  width: 180px;
  height: 46px;
  font-size: 18px;
  color: #fff;
  background-color: #ff7700;
  cursor: pointer;
  border-radius: 20px;
  border: 0;
  z-index: 9999;
}

#main > ul > li.img2 {
  background-color: rgb(174, 101, 194);
  left: 0;
  z-index: 200;
}
#main > ul > li.img3 {
  background-color: rgb(251, 189, 55);
  left: 0;
  z-index: 100;
}

#main .btns {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -32.5px;
  z-index: 9999;
}

#main .btns li {
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #fff;
}

#main .btns li.on {
  background-color: #000;
  width: 30px;
  animation-name: ani01;
  animation-duration: 0.5s;
}

@keyframes ani01 {
  0% {
    width: 15px;
  }

  100% {
    width: 30px;
  }
}

/* 콘텐츠 */

#con1_new {
  margin: 0 auto;
  width: 1500px;
  height: 750px;
}

#con1_new > hgroup {
  padding-top: 90px;
  margin-bottom: 28px;
}

#con1_new > hgroup > h3 {
  text-align: center;
  font-size: 28px;
  color: #555;
  cursor: pointer;
}

#con1_new > hgroup > div {
  margin: 0 auto;
  width: 60px;
  height: 16px;
  border-bottom: 3px solid #555;
}

#con1_new > article {
  float: left;
  margin-right: 70px;
}

#con1_new > article:last-child {
  margin-right: 0;
}

#con1_new > article > img {
  width: 453px;
  height: 383px;
  cursor: pointer;
}

#con1_new > article > p {
  margin-top: 15px;
  font-size: 12px;
}

#con1_new > article > a {
  font-size: 18px;
  font-weight: 600;
}

#con2_banner {
  position: relative;
  width: 100%;
  height: 325px;
  background: url(../images/banner2.jpg) no-repeat 0px 0px;
  cursor: pointer;
}

#con2_banner > h3 {
  position: absolute;
  margin: 126px 0 0 300px;
  font-size: 49px;
  color: #fff;
}

#con2_banner > p {
  position: absolute;
  margin: 200px 0 0 300px;
  font-size: 24px;
  color: #fff;
}

#con3_tv {
  margin: 0 auto;
  width: 1500px;
  height: 480px;
}

#con3_tv > hgroup {
  padding-top: 90px;
  margin-bottom: 28px;
}

#con3_tv > hgroup > h3 {
  text-align: center;
  font-size: 28px;
  color: #555;
  cursor: pointer;
}

#con3_tv > hgroup > div {
  margin: 0 auto;
  width: 60px;
  height: 16px;
  border-bottom: 3px solid #555;
}

#con3_tv > article {
  float: left;
  margin-right: 20px;
  width: 360px;
  height: 225px;
  background-color: aliceblue;
  cursor: pointer;
}

#con3_tv > article:nth-child(1) {
}

#con3_tv > article:nth-child(2) {
  background: url(../images/con3_1.jpg) no-repeat 0 0;
  background-size: cover;
}

#con3_tv > article:nth-child(3) {
  background: url(../images/con3_2.png) no-repeat 0 0;
  background-size: cover;
}

#con3_tv > article:nth-child(4) {
  background: url(../images/con3_3.png) no-repeat 0 0;
  background-size: cover;
}

#con3_tv > article:nth-child(5) {
  background: url(../images/con3_4.jpg) no-repeat 0 0;
  background-size: cover;
  margin-right: 0;
}

#con4_store {
  width: 100%;
  height: 620px;
  background: url(../images/sto.jpg) no-repeat 0 0;
  background-size: cover;
}

#con4_store_in {
  margin: 0 auto;
  width: 1500px;
  height: 620px;
}

#con4_store_in > div {
  padding-top: 107px;
  margin-left: 154px;
}

#con4_store_in > div > article {
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
  width: 268px;
  height: 366px;
  background-color: #fff;
}

#con4_store_in > article:last-child {
  margin-right: 0;
}

#con4_store_in > div > article > img {
  width: 268px;
  height: 268px;
  background-color: blueviolet;
  cursor: pointer;
}

#con4_store_in > div > article > a {
  margin-left: 8px;
  font-size: 12px;
}

#con4_store_in > div > article > h4 {
  margin-left: 8px;
  font-size: 18px;
}

#con4_store_in > div > article > h4 > span {
  color: red;
}

#con4_store_in > div > article > p {
  margin-left: 8px;
  font-size: 12px;
}

#con4_store_in button {
  display: block;
  margin: 0 auto;
  width: 207px;
  height: 47px;
  font-size: 16px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #555;
  cursor: pointer;
}

#con5_type {
  margin-top: 90px;
  width: 100%;
  height: 150px;
  background-color: rgb(230, 230, 230);
}

#con5_type_in {
  padding-top: 20px;
  margin: 0 auto;
  width: 1440px;
  height: 115px;
}

#con5_type_in ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#con5_type_in .cir {
  margin-bottom: 8px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
}

#con5_type_in .cir img {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#con5_type_in .arr {
  font-size: 40px;
  line-height: 115px;
  color: #555;
}

#con5_type_in a {
  font-size: 12px;
}

#con6_month {
  position: relative;
  margin: 0 auto;
  width: 1500px;
  height: 680px;
}

#con6_month > div {
  padding-top: 65px;
}

#con6_month > div > section {
  position: absolute;
  margin-top: 30px;
  width: 1500px;
  height: 500px;
  background-color: #efefef;
  z-index: 3;
}

#con6_month > div > section > h4 {
  padding: 30px 0 20px 50px;
  font-size: 22px;
  color: #555;
}

#con6_month > div > section > h4 > span {
  font-size: 27px;
  color: #555;
}

#con6_month > div > section > p {
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 12px;
}

#con6_month > div > section > ul {
}

#con6_month > div > section > ul > li {
  float: left;
  margin-right: 43px;
  cursor: pointer;
}

#con6_month > div > section > ul > li:first-child {
  margin-left: 50px;
}

#con6_month > div > section > ul > li img {
  width: 315px;
  height: 268px;
}

#con6_month > div > section > ul > li > p {
  font-size: 12px;
  color: #555;
}

#con6_month > div > section > ul > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

#con6_month .back1 {
  position: absolute;
  margin-left: 610px;
  width: 1057px;
  height: 506px;
  background-color: #b7c5ab;
}

#con6_month .back2 {
  position: absolute;
  margin-top: 60px;
  margin-left: -610px;
  width: 1427px;
  height: 506px;
  background-color: #efe2c8;
}

#con7_popul {
  margin: 0 auto;
  width: 1500px;
  height: 554px;
}

#con7_popul > hgroup {
  margin-bottom: 28px;
}

#con7_popul > hgroup > h3 {
  text-align: center;
  font-size: 28px;
  color: #555;
  cursor: pointer;
}

#con7_popul > hgroup > div {
  margin: 0 auto;
  width: 60px;
  height: 16px;
  border-bottom: 3px solid #555;
}

#con7_popul > article {
  float: left;
  margin-right: 70px;
}

#con7_popul > article:last-child {
  margin-right: 0;
}

#con7_popul > article > img {
  width: 453px;
  height: 383px;
  cursor: pointer;
}

#con7_popul > article > a {
  font-size: 18px;
  font-weight: 600;
}

#con8_to {
  width: 100%;
  height: 275px;
  background-color: #95b47b;
}

#con8_to .con8_to_in {
  margin: 0 auto;
  width: 1500px;
  height: 275px;
  background-color: #95b47b;
}

#con8_to .con8_to_in h3 {
  float: left;
  width: 220px;
  height: 120px;
  padding: 90px 0 0 230px;
  margin-right: 248px;
  font-size: 40px;
  color: #fff;
}

#con8_to .con8_to_in ul {
  padding-top: 80px;
}

#con8_to .con8_to_in li {
  float: left;
  margin-right: 60px;
}

#con8_to .con8_to_in div {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
}

#con8_to .con8_to_in img {
  margin-top: 20px;
  margin-left: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 130px;
  cursor: pointer;
}

#con8_to .con8_to_in p {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #95b47b;
}

footer {
  width: 100%;
  height: 400px;
}

#footer_t {
  width: 100%;
  height: 60px;
  background-color: darkgreen;
}

#footer_t_in {
  margin: 0 auto;
  width: 1500px;
  height: 60px;
}

#footer_t_in ul {
  margin-left: 28px;
}

#footer_t_in li {
  float: left;
  margin-left: 18px;
  line-height: 60px;
}

#footer_t_in div {
  float: right;
}

#footer_t_in div > img {
  float: left;
  padding-top: 13px;
  margin-left: 20px;
  width: 35px;
  height: 35px;
}

#footer_t_in a {
  font-size: 12px;
  color: #fff;
}

#footer_b_in {
  margin: 0 auto;
  width: 1500px;
  height: 340px;
}

#footer_b_in h1 {
  padding: 40px 0 0 50px;
  width: 186px;
  height: 68px;
}

#footer_b_in img {
}

#footer_b_in p {
  margin: 15px 0 0 50px;
  font-size: 12px;
  color: #555;
}
